html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f6f7;
  border-radius: 0 0 8px 8px;
  margin-bottom: 15px;
  padding: 0 25px;
}

@media (min-width: 992px) {
  header h3 {
    display: block !important;
  }
}

header h3 {
  display: none;
  font-weight: 500;
  color: #212529;
}

#availability {
  display: flex;
  flex-wrap: wrap;
}

#toastList {
  position: absolute;
  right: 15px;
}

#toastList .toast {
  display: none;
}

#toastList .toast.active {
  display: block !important;
  right: 15px !important;
  background: #fff;
  padding: 12px 30px;
  border: 1px solid blue;
  border-radius: 8px;
  box-shadow: 0px 0px 18px #ddd;
  font-weight: 500;
  text-transform: uppercase;
}

#toastList .toast i {
  color: blue;
  margin: auto 15px auto 0;
  font-size: 1.3rem;
}